* {
    font-family: Georgia,times new roman,Times,serif;
}

#name {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-left: 380px;
    border-right: 380px;
}

.container-1 {
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 5em;
    padding-left: 5em;
    align-items: center;
    justify-content: space-between;
}

.container-2 {
    display: flex;
    flex: 2;
    padding-right: 10em;
    padding-left: 10em;
    font-size: 15px;
}

.hovering::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}

.hovering:hover::after {
    width: 100%;
    transition: width .3s;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;
}
